<div class="translator-container">
    <form #translator="ngForm" (ngSubmit)="send()" class="row">
        <div class="col-md-6">
            <select name="src_lang" class="form-control" [(ngModel)]="translateObject.source">
                <option *ngFor="let l of languagesList" [value]="l.language">{{l.name}}</option>
            </select>
            <textarea class="form-control" name="src_text" placeholder="Text to translate" minlength="5" rows="10"
                required [(ngModel)]="translateObject.q"></textarea>
            <div>
                <button type="button" color="accent"
                    (click)="translateObject.q = ''; result = ''">Erase</button>
                <button type="submit" id="btnSubmit" color="primary"
                    [disabled]="!translator.valid">Translate</button>
            </div>
        </div>
        <div class="col-md-6">
            <select name="trg_lang" class="form-control" [(ngModel)]="translateObject.target">
                <option *ngFor="let l of languagesList" [value]="l.language">{{l.name}}</option>
            </select>
            <textarea readonly class="form-control" placeholder="Result" minlength="5" rows="10"
                      [ngModel]="translateObject.result" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
    </form>
</div>
