<div class="translator-container row">
    <div class="col-md-6">
        <form #translator="ngForm" (ngSubmit)="send()">
            <textarea name="src_text" placeholder="Text to translate" minlength="5" rows="10"
                required [(ngModel)]="googleObj.q"></textarea>
            <div>
                <button type="button" color="accent"
                    (click)="googleObj.q = ''; result = ''">Erase</button>
                <button type="submit" id="btnSubmit" color="primary"
                    [disabled]="!translator.valid">Translate</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <label for="english" class="font-weight-bold">Result:</label>
        <p>{{result}}</p>
    </div> 
</div>