<div class="translator-container">
    <form #translator="ngForm" (ngSubmit)="send()" class="row">
        <div class="col-md-6">
            <select name="src_lang" class="form-control" [(ngModel)]="defaultSrcLang">
                <option *ngFor="let l of langs" [value]="l.language">{{l.name}}</option>
            </select>
            <textarea class="form-control" name="src_text" placeholder="Text to translate" minlength="5" rows="10"
                required [(ngModel)]="googleObj.q"></textarea>
            <div>
                <button type="button" color="accent"
                    (click)="googleObj.q = ''; result = ''">Erase</button>
                <button type="submit" id="btnSubmit" color="primary"
                    [disabled]="!translator.valid">Translate</button>
            </div>
        </div>
        <div class="col-md-6">
            <select name="trg_lang" class="form-control" [(ngModel)]="defaultTrgLang">
                <option *ngFor="let l of langs" [value]="l.language">{{l.name}}</option>
            </select>
            <label class="font-weight-bold">Result:</label>
            <p>{{result}}</p>
        </div>
    </form>
</div>
